@theme {
  /* Typography  -------------------------------------------------- */
  --pretendard: "Pretendard";

  /* breakpoint  -------------------------------------------------- */
  --breakpoint-tb: 800px;
  --breakpoint-dt: 1280px;

  /* space  -------------------------------------------------- */
  --spacing-3\.8: 15px;

  /* color  -------------------------------------------------- */
  --color-lime: #b0e000;
  --color-blue-0047: #0047ab;

  /* text  -------------------------------------------------- */
  --text-3\.5xl: 32px;
  --text-4\.5xl: 42px;
}
