@import "tailwindcss";

@layer utilities {
  .container-inner {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 800px) {
      max-width: 100%;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

@import "swiper";
@import "theme";
@import "normalize";
@import "layout";

@layer theme, base, components, utilities;

body {
  background-color: #fff;
  color: #000;
}

